<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Experience our comfortable and durable jackets to suit all weathers.
    The quality of your adventures will get a boost you will never forget!"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <!-- // Header // -->
    <header>
      <div class="header-wrapper">
        <div class="header-top">
          <img src="./images/rainydays_logo_h90.png" alt="rainydays_logo_h90" />
        </div>
        <div class="header-bottom">
          <label class="hamburger-label" for="hamburger-menu"> &#9776; </label>
          <input type="checkbox" id="hamburger-menu" />
          <ul class="header-icons">
            <li class="header-icons">
              <img src="./images/search_path.png" alt="search_button" />
            </li>
            <li class="header-icons">
              <img src="./images/shoppingcart_path.png" alt="shoppingcart" />
            </li>
          </ul>
          <nav>
            <ul>
              <li><a class="current-page" href="index.html">Home</a></li>
              <li><a href="#Women">Women</a></li>
              <li><a href="#Men">Men</a></li>
              <li><a href="#Unisex">Unisex</a></li>
              <li><a href="#Contact">Contact</a></li>
              <li><a href="#About">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- // Main // -->
    <main>
      <div class="main-wrapper">
        TEMPLATE - TEMPATE<br />TEMPLATE - TEMPATE - TEMPLATE - TEMPATE<br />TEMPLATE<br />TEMPLATE
        - TEMPATE - TEMPLATE - TEMPATE - TEMPLATE<br />TEMPLATE - TEMPATE
      </div>
    </main>
    <!-- // Footer // -->
    <footer>
      <div class="footer-wrapper">&copy; 2021 Rainydays, Inc</div>
    </footer>
  </body>
</html>
